body
{
    background-color:rgb(174, 199, 239);
    color: rgb(76, 195, 204);
}

.heading
{
   width: 60%;
   font-size: 23px; 
}

.name_of_objects
{
    color: cornflowerblue;
}

#resultObjectName
{
    color: darkseagreen;
}

#webcam
{
    border:2px dashed black;
    width: 350px;
    height:300px;
}

